body {margin: auto; padding: 0; font: 12px Arial, Helvetica, Sans-Serif; color: #dfdfdf; width:100%; height:95%; background-image:url("../images/fond.jpg");
        background-repeat: repeat-x;}


/* différents encadrements                */
/* ====================================== */
.encadre {border: 2px #dc2832 solid; padding: 10px; color: #dfdfdf; font: 12px Arial, Helvetica, Sans-Serif;
        border-radius: 50px 50px 10px 10px; -webkit-border-radius: 50px 50px 10px 10px;
        -moz-border-radius:50px 50px 10px 10px; -khtml-border-radius:50px 50px 10px 10px;
        box-shadow: 0 0 20px rgba(255,0,0,0.8);}
.encadre caption, .encadre-top caption {font-size:14px; font-variant: small-caps; color:red; height:25px; border-bottom: 2px dotted #dfdfdf;}

.encadre-top {border: 2px #dc2832 solid; padding: 5px; color: #dfdfdf;
        border-radius: 10px 10px 50px 50px; -webkit-border-radius: 10px 10px 50px 50px;
        -moz-border-radius:10px 10px 50px 50px; -khtml-border-radius:10px 10px 50px 50px;
        box-shadow: 0 0 20px rgba(255,0,0,0.8);}
.conteneur_message {background-color: #444444; padding: 20px; margin-bottom: 30px;
                    border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px; -khtml-border-radius: 10px 10px 10px 10px;}


/* composants HTML                        */
/* ====================================== */
input[type=text], input[type=password], textarea, select {width: 100%; color: #FF0000; padding: 2px; font: 11px Arial, Helvetica, Sans-Serif;
        -moz-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;}
input[type=submit], input[type=button] {color:white; text-decoration: none; text-align:center; background: #e14f1c; padding: 3px;
        -moz-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;}
input[type=submit]:hover, input[type=button]:hover {cursor:pointer;}
textarea {resize:none;}
a, a:visited {text-decoration:none; cursor: pointer; color: #dfdfdf; font: 12px Arial, Helvetica, Sans-Serif;}
table {width: 100%; border-spacing: 0px; border-collapse: collapse;}
img {border:0;}
hr {color:#e14f1c; }


/* Les messages
/* ====================================== */
.error {border: 1px solid #cd0a0a; background: #e14f1c url(../images/fond_error.png) 50% top repeat-x; color: #ffffff; 
        -moz-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;}
.info {border: 1px solid #cd0a0a; background: url(../images/fond_info.png) 50% top repeat-x; color: #dc2832; 
        -moz-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;}
.motion_approved {width: 70%; background-color: darkgreen;
                -moz-border-radius: 2px; border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px;}
.motion_refused {width: 70%; background-color: red;
                -moz-border-radius: 2px; border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px;}
.categories {font-size:14px; font-variant: small-caps; color:red; height:25px; text-align: center}


/* Les paginators
/* ====================================== */
.pagination {width:100%; padding: 2px; margin: 7px; text-align:center;}
.pagination .entete td, .pagination .pied {border:1px solid #e14f1c; padding:3px; background-color:#800000; font-weight: bold;}
.pagination td {border-right:1px solid #e14f1c; border-left:1px solid #e14f1c;}

.pagination .pied a {background-color:#800000; background-position:bottom; text-decoration: none; color: #fff;}

.pagination .pied a:hover, div.meneame a:active {border: 1px solid #cd0a0a; background-color:#e14f1c; color: #fff;}

.pagination span.current {margin-right:3px; padding:5px 7px; border: 1px solid #ff6500; font-weight: bold; background-color: #ffbe94; color: #ff6500;}

.pagination .disabled {padding:3px; color: #969696;}



/* gestion de la barre d'outils */
#menu td {text-align:center; background:#717171; border-radius: 0 0 10px 10px; padding:4px; 
        -webkit-transition: background-color 0.6s linear; -moz-transition: background-color 0.6s linear; transition: background-color 0.6s linear;}
#menu td:hover {background:#950000;}



/* hyperliens et boutons */
.bouton {color:white; text-decoration: none; text-align:center; background: #e14f1c; padding: 3px;
        -moz-border-radius: 2px; border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px;}
.bouton:hover {cursor:pointer;}
.bouton_rollover {color:white; text-decoration: none; text-align:center; padding: 3px;
                -moz-border-radius: 2px; border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px;}
.bouton_rollover:hover {background: #e14f1c; cursor:pointer;}
.bouton_transparent {text-decoration: none; padding: 3px;}
.bouton_transparent:hover{cursor:pointer;}

#home-widget {
    width:600px;
    background: #252525;
    box-shadow:0px 0px 15px rgba(0,0,0,0.8);
}

#widget-content {
    padding:10px 5px 0px;
}

#widget-menu {
    width:100%;
    border-top:2px solid #E0E0E0;
}

#widget-menu ul{
    display:flex;
    width:100%;
    list-style-type:none;
    padding-left:0px;
    margin:0px;
}

#widget-menu li {
    flex-grow:1;
    text-align:center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    transition: background 0.2s ease-out;
}

#widget-menu li:hover{
    background: rgba(0,0,0,0.6);
}

#widget-menu a{
    width:100%;
    height:100%;
    display:inline-block;
    curser:pointer;
    padding-top:5px;
    padding-bottom:10px;
    font-weight:bold;
}

#widget-menu a img{
    display:block;
    margin:auto;
    margin-bottom:5px;
}

#facebook-page-banner {
    width:100%;
    height:200px;
    background: no-repeat;
    background-size: 100% 100%;
}

#facebook-page-informations {
    margin-left:20px;
}

#facebook-page-feed ul {
    list-style-type:none;
    padding-left:20px;
}

#facebook-page-feed li {
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
    border-top: 1px solid #dfdfdf;
}

#facebook-page-feed img {
    margin-right:20px;
}

#milieu_milieu #public_news {
    width:80%;
    margin:auto;
    background: #252525;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}