#content {
    display:flex;
}

#groups-list {
    margin-left:40px;
}

#filters {
    display: flex;
    list-style-type: none;
    padding-left:0px;
}

#filters li {
    text-align:center;
    border-collapse: collapse;
    border:1px solid #D08010;
}

#filters li a {
    display:inline-block;
    padding: 5px 15px;
    text-decoration:none;
    color: #D08010;
    background-color: #FFD0A0;
}

#filters li a.active,
#filters li a:hover{
    background-color: #D08010;
    color: #F0EDE0;
}

#groups-list section > ul {
    margin-top:0px;
    padding-left:0px;
    list-style-type: none;
    overflow-y: scroll;
    height:500px;
}

.group {
    display:flex;
    color: #5060C0;
    font-size:1.2em;
    overflow:hidden;
}

.group a {
    width:100%;
    margin-left:-100%;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid #888888;
}
    
.group span {
    padding-right:10px;
}

#actions {
    margin-top:10px;
    margin-left:20px;
}

#group-details header {
    display:flex;
    justify-content:space-between
}

#group-titles {
    margin-left:20px;
}

#group-titles h1{
    margin-top:10px;
    margin-bottom:0px;
}

#group-titles h3 {
    margin-top:10px;
}

#group-infos {
    margin-right:20px;
}

#group-infos ul {
    display:inline-block;
    list-style-type: none;
    padding-left:0px;
    font-size:1.3em;
}

#group-infos li {
    display:inline-block;
    padding-right:20px;
}

#group-infos i {
    padding-left:10px;
}
