html, body {
    width:100%;
    height:100%;
    margin:0px;
    overflow:hidden;
}

#header {
    display:flex;
    background : #242424;
    padding-top:10px;
    padding-bottom:10px;
    color: #EFEFEF;
}

#header ul{
    color: #EFEFEF;
    margin:0px;
    padding-left:0px;
}

#header h1 {
    margin:0px;
    margin-left:20px;
}

#header h1 span {
    color: #ff0000;
}

#personal-area {
    flex-grow:1;
    display:flex;
    justify-content: flex-end;
    padding-right:40px;
}

#avatar img {
    width:48px;
    height:48px;
    border-radius:24px;
}

.menu-component {
    display:flex;
    align-items:center;
}

#messages,
#notifications {
    padding-left:20px;
    padding-right:20px;
}

#messages .badge,
#notifications .badge {
    margin-left:10px;
}

#messages .badge.active,
#notifications .badge.active {
    background-color: #EF0000;
}

#profile {
    padding-left:40px;
}

#avatar {
    color: #ff0000;
    flex-grow:1;
    text-align:center;
}

#profile-menu {
    cursor:pointer;
    flex-grow:3;
    text-align:right;
}

#profile-menu span {
    font-size:1.2em;
    padding-left:50px;
    padding-right:10px;
}

.module {
    margin-top:10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.module header {
    padding: 10px;
    background: #000;
    color: #EFEFEF;
}

.module header h3 {
    margin:0px;
}

.module header i {
    color: #FF0000;
}

.module section {
    padding: 10px;
}

.module section ul {
    list-style-type:none;
    padding-left:0px;
    margin:0px;
}

.module section li {
    border-top:1px solid #EFEFEF;
    border-bottom:1px solid #EFEFEF;
    border-collapse: collapse;
}

.module section li a {
    display: inline-block;
    width:100%;
    height:100%;
}

.module footer {
    border-top:1px solid #000;
    padding:5px;
}

#content {
    margin-left:10px;
    margin-right:10px;
    display:flex;
    justify-content: space-between;
}