#content {
    justify-content: flex-start;
}

#message-area {
    display:flex;
    flex-grow:3;
    margin-left:40px;
    overflow:hidden;
}

.message-details {
    width:0%;
    margin-right:20px;
    overflow-x:hidden;
}

.message-details header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.message-details header i {
    color: #FF0000;
}

.message-details p {
    padding-top:20px;
    font-variant:small-caps;
    text-indent:20px;
}

#message-creation-form .alert {
    display:none;
}

#messages-list{
    width:100%;
}

#messages-list > header {
    display:flex;
    justify-content: space-between;
}

#messages-list > header .paginator ul {
    margin-top:20px;
    margin-bottom:0px;
}

#messages-list > ul {
    margin-top:0px;
    padding-left:0px;
    list-style-type: none;
    overflow-y: scroll;
    height:400px;
}

.message {
    color: #5060C0;
    font-size:1.2em;
    overflow:hidden;
}

.message a {
    display:flex;
    width:100%;
    margin-left:-100%;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid #888888;
    border-bottom:1px solid #888888;
    justify-content:space-around;
    align-items: center;
    color: #D08010;
}

.message-unread {
    background-color: #FFD0A0;
}

.message-author-avatar {
    width:48px;
    height:48px;
    border-radius:28px;
    margin-right:20px;
    border:2px solid EFEFEF;
}

#box-list {
    flex-grow:1;
}

#box-list ul {
    list-style-type:none;
    margin-top:10px;
    padding-left:0px;
}

#box-list ul > li {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    padding:10px 20px;
}

#actions {
    margin-top:10px;
    margin-left:20px;
}

#message-details header {
    display:flex;
    justify-content:space-between
}

#message-titles {
    margin-left:20px;
}

#message-titles h1{
    margin-top:10px;
    margin-bottom:0px;
}

#message-titles h3 {
    margin-top:10px;
}

#message-infos {
    margin-right:20px;
}

#message-infos ul {
    display:inline-block;
    list-style-type: none;
    padding-left:0px;
    font-size:1.3em;
}

#message-infos li {
    display:inline-block;
    padding-right:20px;
}

#message-infos i {
    padding-left:10px;
}
