#motion-details {
    width:800px;
    margin:auto;
}

#motion-details h1,
#motion-details h4 {
    color: #F00;
    text-align:center;
}

#motion-details p {
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

#motion-dates {
    display:flex;
    justify-content: space-between;
    padding-bottom:20px;
}

#motion-dates h3 {
    text-align:center;
}

#motion-dates span {
    font-size:2.0em;
    text-align:center;
}

#motion-details form > .form-group:last-of-type {
    text-align:center;
}

#motion-details textarea {
    resize: vertical;
}