.paginator ul {
    list-style-type:none;
    display:flex;
    justify-content:flex-end;
}

.paginator li {
    padding-left:5px;
    padding-right:5px;
}

.paginator li a {
    cursor:pointer;
    padding:5px 10px;
    background-color: #FFD0A0;
    color: #D08010;
    font-size:1.1em;
    border-radius:20px;
    text-decoration:none;
}

.paginator li a[disabled] {
    background-color: #FFE0C0;
    color: #FFD0A0;
}

.paginator li a:hover,
.paginator li a.active {
    color:#FFD0A0;
    background-color: #D08010;
}