#content {
    width:600px;
    margin:auto;
    font-size:1.2em;
}

#content a {
    color: #FF0000;
}

#logo {
    margin-top:20px;
}

.code-snippet {
    border-radius:5px;
    border: 1px solid #111;
    background-color: #282828;
    padding: 5px 10px;
}

.code-snippet p {
    color: #EFEFEF;
    margin-top:5px;
    margin-bottom:5px;
}

.code-snippet span {
    color: #A0A0A0;
    margin-top:5px;
    margin-bottom:5px;
}