{
    "facebook_api_url" : "https://graph.facebook.com/v2.5",
    "facebook_app_id" : "",
    "facebook_app_secret" : "",
    "facebook_page_id" : "",
    "database_host": "localhost",
    "database_username": "root",
    "database_password": "vagrant",
    "database_name": "thwonderbdd",
    "language_options": {
        "path": "langs/",
        "langs": {
            "fr": "fr.php",
            "en": "en.php",
            "es": "es.php"
        },
        "default": "fr"
    },
    "chatrooms": {
        "server_host": "127.0.0.1",
        "server_port": 5515
    }
}
